.loading {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px dashed blue;
    margin: 10px auto;
    animation: loading-anim 1s linear 0 infinite alternate forwards;
}

@keyframes loading-anim {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg) scale(1.2);

    }
}
