.post {
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.635);
  display: flex;
  /* border: 1px solid green; */
  margin: 30px 20px 0 20px;
  /* max-width: 660px; */
  background-color: white;
  flex-wrap: nowrap;
}

.post:hover {
  box-shadow: 0 0 4px 4px rgba(128, 128, 128, 0.808);
}

.post .sideBar {
  padding: 5px;
  /* border: 1px solid blue; */
}

.post .main {
 min-width: 0;
 padding: 10px;
}

.post .topBar {
  padding: 5px;
  /* border: 1px solid red;    */
}

.post .middleBar {
  width: 100%;
}

.post .middleBar img {
  width: 100%;
  object-fit: contain;
}

.post .bottomBar {
  padding: 5px;
  /* border: 1px solid magenta;    */
  display: flex;
  justify-content: space-around;
}
.post .bottomBar p {
  width: auto;
  margin: 0;
}

.post .bottomBar strong {
  width: auto;
  margin: 0;
  color: blue;
}

@media only screen and (max-width: 500px) {
  .post {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.FaRegCommentAlt {
  height: 12px;
  width: 17px;
}
