.voter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.GoArrowDown {
    height: 20px;
    
}

.GoArrowUp {
    height: 20px;
    
}