.body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.posts {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
